<section id="footer">
  <div class="container">
    <div class="desktop-3 columns">
      <p>copyright &copy; <a href="http://dreamingecho.es">dreamingechoes</a></p>
    </div>

    <div class="desktop-9 columns">
      <ul id="social">
      </ul>
    </div>

    <div class="clear"></div>
  </div>
</section>
