<section id="header">

  <div class="topbar">
    <div class="container">

      <ul id="nav" class="full">
        <li>
          <a href="#">
            <span class="count hide-on-mobile">01.</span>
            By Decade
          </a>
          <ul>
            <li><%= link_to "1980s", "the-eighties" %></li>
            <li><%= link_to "1990s", "the-nineties"%></li>
            <li><%= link_to "2000s", "the-two-thousands" %></li>
            <li><%= link_to "2010s", "the-twenty-tens" %></li>
          </ul>
        </li>
        <li>
          <a href="/about">
            <span class="count hide-on-mobile">02.</span>
            About
          </a>
        </li>

        <li>
          <a href="mailto:xixon.sound@gmail.com">
            <span class="count hide-on-mobile">03.</span>Contact
          </a>
        </li>

      </ul>

    </div>
  </div>

  <div class="logo-wrap">
    <div class="container">
      <div class="desktop-6 columns">
        <h1><a href="/" title="Home"><img src="./assets/images/logo_text_half.png" alt="" /></a></h1>
      </div>

      <div class="desktop-6 columns">
        <p class="site-desc">
          The story of the shoegaze through the essentials<br />
          <span class="font-color-primary">(When you wake) you're still on a dream...</span>
        </p>
      </div>

      <div class="clear"></div>
    </div>
  </div>
</section>
