---
title: Shoegaze.pw
---

<% content_for :metas do %>
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="http://shoegaze.pw/about">
  <meta name="twitter:title" content="Album - Shoegaze.pw">
  <meta name="twitter:description" content="Shoegazing (also known as shoegaze) is a subgenre of alternative rock that emerged from the United Kingdom in the late 1980s and reached peak popularity in the early 1990s.">
  <meta name="twitter:image" content="http://shoegaze.pw/assets/images/home.jpg">

  <meta property="og:title" content="About - Shoegaze.pw" />
  <meta property="og:description" content="Shoegazing (also known as shoegaze) is a subgenre of alternative rock that emerged from the United Kingdom in the late 1980s and reached peak popularity in the early 1990s." />
  <meta property="og:url" content="http://shoegaze.pw/about" />
  <meta property="og:image" content="http://shoegaze.pw/assets/images/home.jpg" />
<% end %>

<section id="albums" class="page single album"
         data-spotify-id="<%= album.spotify_id %>"
         data-album-index="<%= album.album_index %>">
  <div class="container">

    <div class="desktop-3 tablet-12 nested columns">

      <div class="sidebar sticky">

        <div class="desktop-3 tablet-12 columns">

          <div class="box-info">
            <h3 class="border-top">Band</h3>
            <p>Chapterhouse</p>
            <p><%= album %></p>
          </div>

        </div>

        <div class="desktop-3 tablet-12 columns">

          <div class="box-info">
            <h3 class="border-top">Album</h3>
            <p>Whirlpool</p>
          </div>

        </div>

        <div class="desktop-3 tablet-6 mobile-half columns">

          <div class="box-info">
            <h4 class="border-top">Year</h4>
            <p> 1998 <p>
          </div>

        </div>

        <div class="clear"></div>

      </div>

    </div>

    <div class="desktop-9 tablet-12 columns">
      <h3 class="border-top"></h3>

      <img src="" alt="" class="album-cover">

      <iframe width="420" height="315" src="https://www.youtube.com/embed/<%= album.youtube_id %>" frameborder="0" allowfullscreen></iframe>

      <div class="clear"></div>

    </div>

    <div class="clear"></div>

  </div>
</section>
