---
title: Shoegaze.pw
---

<section id="albums">
  <div class="container">
    <div class="desktop-12 columns">
      <img src="./assets/images/home.jpg" alt="">
    </div>

    <div class="desktop-12 columns">
      <br>
      <p>A curated list of albums to try to explain through the pass of the years the history of the <strong>shoegaze</strong>. Listen this bands and enjoy the experience.</p>
      <div class="clear"></div>
    </div>

  </div>
</section>
