---
title: Shoegaze.pw
---

<section id="works">
  <div class="container">
    <div class="desktop-12 columns"><div class="border-top"></div></div>

      <a href="#" class="permalink">
        <div class="desktop-3 mobile-half columns">
          <div class="item first-row">
            <h3>Artist</h3>
            <span class="category">CD Title</span>

            <img src="http://placehold.it/200x200" alt="" />
          </div>
        </div>
      </a>

      <a href="#" class="permalink">
        <div class="desktop-3 mobile-half columns">
          <div class="item first-row">
            <h3>Artist</h3>
            <span class="category">CD Title</span>

            <img src="http://placehold.it/200x200" alt="" />
          </div>
        </div>
      </a>

      <a href="#" class="permalink">
        <div class="desktop-3 mobile-half columns">
          <div class="item first-row">
            <h3>Artist</h3>
            <span class="category">CD Title</span>

            <img src="http://placehold.it/200x200" alt="" />
          </div>
        </div>
      </a>

      <a href="#" class="permalink">
        <div class="desktop-3 mobile-half columns">
          <div class="item first-row">
            <h3>Artist</h3>
            <span class="category">CD Title</span>

            <img src="http://placehold.it/200x200" alt="" />
          </div>
        </div>
      </a>

      <div class="clear"></div>

      <a href="#" class="permalink">
        <div class="desktop-3 mobile-half columns">
          <div class="item first-row">
            <h3>Artist</h3>
            <span class="category">CD Title</span>

            <img src="http://placehold.it/200x200" alt="" />
          </div>
        </div>
      </a>

      <a href="#" class="permalink">
        <div class="desktop-3 mobile-half columns">
          <div class="item first-row">
            <h3>Artist</h3>
            <span class="category">CD Title</span>

            <img src="http://placehold.it/200x200" alt="" />
          </div>
        </div>
      </a>

      <a href="#" class="permalink">
        <div class="desktop-3 mobile-half columns">
          <div class="item first-row">
            <h3>Artist</h3>
            <span class="category">CD Title</span>

            <img src="http://placehold.it/200x200" alt="" />
          </div>
        </div>
      </a>

      <a href="#" class="permalink">
        <div class="desktop-3 mobile-half columns">
          <div class="item first-row">
            <h3>Artist</h3>
            <span class="category">CD Title</span>

            <img src="http://placehold.it/200x200" alt="" />
          </div>
        </div>
      </a>

      <div class="clear"></div>

  </div>
</section>
