---
title: Shoegaze.pw
---

<%= partial 'layouts/metas', locals: { title: "Shoegaze.pw",
                             description: "The story of the shoegaze through the essentials.",
                             url: "http://shoegaze.pw",
                             image: "http://shoegaze.pw/assets/images/home.jpg" } %>

<section id="albums">
  <div class="container">
    <div class="desktop-12 columns">
      <img src="/assets/images/home.jpg" alt="">
    </div>
  </div>
</section>
