---
title: Shoegaze.pw
---

<% content_for :metas do %>
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="http://shoegaze.pw">
  <meta name="twitter:title" content="Shoegaze.pw">
  <meta name="twitter:description" content="The story of the shoegaze through the essentials.">
  <meta name="twitter:image" content="http://shoegaze.pw/assets/images/home.jpg">

  <meta property="og:title" content="Shoegaze.pw" />
  <meta property="og:description" content="The story of the shoegaze through the essentials." />
  <meta property="og:url" content="http://shoegaze.pw" />
  <meta property="og:image" content="http://shoegaze.pw/assets/images/home.jpg" />
<% end %>

<section id="albums">
  <div class="container">
    <div class="desktop-12 columns">
      <img src="./assets/images/home.jpg" alt="">
    </div>
  </div>
</section>
